{% load static %}

<section class="about-section-area sp1" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6">
                <div class="img1 image-anime reveal">
                    <img src="{% static 'images/heros/Me-2.png' %}" alt="Sobre mí">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="img1 image-anime reveal">
                    <img src="{% static 'images/heros/agc-coding-1.png' %}" alt="Acerca de mi experiencia">
                </div>
                <div class="space30"></div>
                <div class="img1 image-anime reveal">
                    <img src="{% static 'images/heros/agc-coding-2.png' %}" alt="Desarrollo y tecnología">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-header-area heading-1">
                    <h5 data-aos="fade-left" data-aos-duration="800">Sobre Mí <i class="fa-solid fa-angle-right"></i></h5>
                    <div class="space16"></div>
                    <h2 class="text-anime-style-3">Ingeniería y Creatividad para Impulsar la Innovación</h2>
                    <div class="space24"></div>
                    <p data-aos="fade-left" data-aos-duration="1000">
                    Soy un ingeniero de software con amplia experiencia en el desarrollo de soluciones web, análisis de datos y automatización. 
                    <br>Mi pasión es transformar ideas en aplicaciones funcionales y escalables que potencien el crecimiento de proyectos y empresas.
                    </p>
                    <div class="space8"></div>
                    <div class="list-area" data-aos="fade-left" data-aos-duration="1100">
                        <ul>
                            <li><i class="fa-solid fa-circle-check fa-fade"></i> Innovación</li>
                            <li><i class="fa-solid fa-circle-check fa-fade"></i> Eficiencia</li>
                        </ul>
                        <ul>
                            <li><i class="fa-solid fa-circle-check fa-fade"></i> Creatividad</li>
                            <li><i class="fa-solid fa-circle-check fa-fade"></i> Pasión</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>