{% load static %}

<section class="contact-section-area sp1" id="contacto">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info heading-1">
                    <h2>Contáctame</h2>
                    <p>
                    Si deseas saber más sobre mis proyectos o tienes alguna propuesta, no dudes en ponerte en contacto.
                    </p>
                    <ul>
                        <li>Email: <a href="mailto:adalbertogc17@gmail.com">adalbertogc17@gmail.com</a></li>
                        <li>LinkedIn: <a href="https://www.linkedin.com/in/adalberto-gonz%C3%A1lez-cuesta-0b8283226/">Perfil LinkedIn</a></li>
                        <li>GitHub: <a href="https://github.com/albt03z">Perfil GitHub</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cv-download">
                    <a href="{% static 'docs/CV-ADALBERTO-FS.pdf' %}" class="header-btn25">Descargar CV <i class="fa-solid fa-download fa-bounce"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>