{% load static %}
<section class="hero-section-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="header-content-area heading-1">
                    <h5><img src="{% static 'images/icons/agc-brand.svg' %}" alt="Adalberto González Brand">Hola, soy Adalberto González Cuesta</h5>
                    <h1 class="titles-header">Ingeniero de Software &amp; Desarrollador Web Full Stack</h1>
                    <p class="header-description" data-aos="fade-right" data-aos-duration="1500">Soy un apasionado por la tecnología y el desarrollo de soluciones escalables y eficientes para transformar ideas en realidades.</p>
                    <div class="btn-area ms-auto">
                        <a href="#proyectos" class="btn-custom-primary" data-aos="fade-right" data-aos-duration="2000">Ver Proyectos <i class="fa-solid fa-diagram-project fa-beat"></i></a>
                        <a href="{% static 'docs/CV-ADALBERTO-FS.pdf' %}" class="btn-custom-primary btn-custom" data-aos="fade-left" data-aos-duration="2500">Descargar CV <i class="fa-solid fa-download fa-bounce"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-images-area">
                    <div class="images">
                        <img src="{% static 'images/heros/Me.png' %}" alt="Hero" data-aos="zoom-in" data-aos-duration="1000">
                    </div>
                    <div class="auhtor-images">
                        <div class="img1">
                            <img src="{% static 'images/icons/agc-icon-1.svg' %}" alt="" class="hero-img2 zoom-in-out">
                            <img src="{% static 'images/icons/agc-icon-2.svg' %}" alt="" class="hero-img3 heartbeat">
                            <img src="{% static 'images/icons/agc-icon-3.svg' %}" alt="" class="hero-img4 float-rotate">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>