{% load static %}

<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'images/icons/agc-brand.svg' %}" alt="Adalberto González Cuesta - Brand" width="44" height="44">
            <p>Adalberto González Cuesta</p>
        </a>
        <a href="#" class="icon-menu navbar-toggler shadow-none ms-auto btn-custom-primary-nav" type="button" 
           data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" 
           aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    <a href="{% url 'home' %}" class="navbar-brand">
                        <img src="{% static 'images/icons/agc-brand.svg' %}" alt="Adalberto González Cuesta - Brand" width="44" height="44">
                    </a>
                </h5>
                <a href="#" class="shadow-none ms-auto btn-custom-primary-nav" type="button" 
                   data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
            <div class="nav-menu offcanvas-body d-flex flex-column flex-lg-row" id="nav-menu">
                <ul class="navbar-nav align-items-center fs-5 flex-grow-1">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#about">Sobre Mí</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#proyectos">Proyectos</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#habilidades">Habilidades</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>